#status {
    color: #090;
    min-height: 1.5em;
}

#save {
    width: 100%;
}

code {
    font-size: 1.5em;
}

body {
    max-width: 400px;
}

textarea {
    width: 99%;
}

.input-freedium-url button {
    padding: 4px 12px;
}

/* .input-freedium-url button:hover {
    background-color: pink;
    color: white;
} */

.input-freedium-url input {
    height: 30px;
    width: 70%;
    box-sizing: border-box;
}